[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

alembic = "==0.9.6"
amqp = "==2.2.2"
anyjson = "==0.3.3"
billiard = "==3.5.0.3"
blinker = "==1.4"
celery = "==4.1.0"
cffi = "==1.11.2"
click = "==6.7"
coverage = "==4.4.2"
dominate = "==2.3.1"
Flask = "==0.12.2"
Flask-Bootstrap = "==3.3.7.1"
flask-debugtoolbar = "==0.10.1"
Flask-Login = "==0.4.0"
Flask-Mail = "==0.9.1"
Flask-Migrate = "==2.1.1"
flask-script = "==2.0.6"
Flask-SocketIO = "==2.9.2"
Flask-SQLAlchemy = "==2.3.2"
Flask-Testing = "==0.6.2"
Flask-WTF = "==0.14.2"
itsdangerous = "==0.24"
"Jinja2" = "==2.10"
kombu = "==4.1.0"
mako = "==1.0.7"
markupsafe = "==1.0"
passlib = "==1.7.1"
pycparser = "==2.18"
python-dateutil = "==2.6.1"
python-editor = "==1.0.3"
python-engineio = "==2.0.1"
python-socketio = "==1.8.3"
pytz = "==2017.3"
redis = "==2.10.6"
SQLAlchemy = "==1.1.15"
vine = "==1.1.4"
visitor = "==0.1.3"
Werkzeug = "==0.13"
WTForms = "==2.1"


[dev-packages]

