{% extends '_base.html' %}

{% from 'macros/field.html' import render_field %}

{% block content %}
    <div class="row">
        {% include 'user/parts/account_settings_sidemenu.html' %}
        <div class="col-md-8">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <form class="form" role="form" method="post" action="">

                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}


                        <div class="col-lg-4 col-sm-4">

                            {% for field in form %}
                                {{ render_field(field) }}
                            {% endfor %}

                            {{ button("Change password", type="success") }}

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}