{% extends '_base.html' %}

{% from 'macros/field.html' import render_field %}

{% block content %}

  <header class="content-header">
    <h1>Please login</h1>
  </header>

  <br>


  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="col-lg-4 col-sm-4">

      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}


      {{ button('Sign in!', type="success") }}
      <br><br>
      <p>Need to <a href="{{ url_for('user.register') }}">Register</a>?</p>
    </div>

  </form>


{% endblock content %}
