{% extends '_base.html' %}

{% from 'macros/field.html' import render_field %}

{% block content %}
    <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="col-sm-4 col-lg-4">
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {{ render_field(field) }}
            {% endif %}
        {% endfor %}

        {{ button('Reset!', type='success') }}
    </div>

    </form>
{% endblock %}